toy_example/__pycache__
toy_example/checkpoints
toy_example/plots
toy_example/tensorboard
toy_active_mapping/__pycache__
toy_active_mapping/checkpoints
toy_active_mapping/plots
toy_active_mapping/tensorboard
toy_active_mapping_ppo/__pycache__
toy_active_mapping_ppo/checkpoints
toy_active_mapping_ppo/plots
toy_active_mapping_ppo/tensorboard
toy_active_mapping_ppo/Unity_envs
**.idea
**.venv
# checkpoints: track .pth model weights, ignore anything else in the folder
model_based_active_mapping/scripts/checkpoints/*
!model_based_active_mapping/scripts/checkpoints/*.pth
model_based_active_mapping/scripts/tensorboard
**.pyc
model_based_active_mapping/scripts/test_results/
model_based_active_mapping/scripts/training_visualizations/
model_based_active_mapping/scripts/logs/
model_based_active_mapping/scripts/test_trails/
model_based_active_mapping/MRMT/
**.log
