<?xml version="1.0"?>
<model>
  <name>agent_bot</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>mbam</name>
    <email>maintainer@example.com</email>
  </author>
  <description>Agent robot with planar motion control, camera, and lidar.</description>
</model>
